@charset "utf-8";


body { font-family: 'Pretendard',sans-serif ; font-size: 1.6rem; line-height: 1.5;color: #000; }
.inner { max-width: 1640px; margin: 0 auto; padding: 0 20px;  }


#header { position: fixed; left: 0;top: 0; width: 100%; color: #fff; z-index: 3; transition: all 0.5s; } 


#header .inner { max-width: 1740px; display: flex; justify-content: space-between; align-items: center;  height: 100px; }

#header h1 a { display: block; background: url(../images/common/logo_w.svg) no-repeat center; width: 130px; height: 32px; font-size: 0;  }




/*#header.active , hover*/
#header.active { background: #fff; color: #333; }
#header.on { background: #fff; color: #333; }
#header:hover { background: #fff;  color: #333; }

#header.active h1 a {  background: url(../images/common/logo_b.svg) no-repeat center;  }
#header.on h1 a {  background: url(../images/common/logo_b.svg) no-repeat center;  }
#header:hover h1 a {  background: url(../images/common/logo_b.svg) no-repeat center;  }

#header.active .util { filter: invert(0); }
#header.on .util { filter: invert(0); }
#header:hover .util { filter: invert(0); }


/* sub 화면 고정 */
/* #header.on { background: #fff; color: #333; }
#header.on h1 a {  background: url(../images/common/logo_b.svg) no-repeat center;  }
#header.on .util { filter: invert(0); }

#header .gnb>li.on > a { background:  url(../images/common/li_bg.jpg) no-repeat center / cover ; font-weight: 700;  }  */






/*.gnb*/
#header nav {  margin-left: auto; margin-right: 150px; text-align: center; }
#header .gnb { display: flex;  }
#header .gnb>li { position: relative;  }
#header .gnb>li>a { display: block; font-size: 2rem; padding: 35px 0; height: 100%; width: 140px; transition: all 0.5s; } 


/*depth2*/
#header .gnb>li .depth2 { display: none; position: absolute; left: 50%; transform: translateX(-50%); top: 100px; text-align: center; width: 200px;}
#header .gnb>li .depth2 li a { position: relative; width: 100%; display: block; padding: 10px 0px; }

#header .gnb>li .depth2 li a::before { content: ""; position: absolute; left: 50%; top: 10px; background: #fff; width: 100px; height: 2px; opacity: 0; transition: opacity 0.5s; }



/*#header .gnb>li.active , hover*/
#header:hover .gnb>li:hover > a { background:  url(../images/common/li_bg.jpg) no-repeat center / cover ; font-weight: 700;  }
#header .gnb>li .depth2 li a:hover::before {  opacity: 1; }
#header .gnb>li:hover .depth2 { display: block;  color: #fff; font-size: 2rem; backdrop-filter: blur(5px); }






#header .util { filter: invert(1); transition: all 0.5s; }
#header .btn_search { background: transparent url(../images/common/search.svg) no-repeat center ; width: 25px; height: 25px; border: 0;  font-size: 0; cursor: pointer; margin-right: 30px; }
#header .btn_login { background: transparent url(../images/common/login.svg) no-repeat center ; width: 25px; height: 25px; border: 0;  font-size: 0; cursor: pointer; }
#header .btn_ham { display: none; background: transparent url(../images/common/M_menu.svg) no-repeat center; font-size: 0; width: 25px; height: 25px; cursor: pointer;  }

/*#header .btn_search active*/
#header .btn_search.active { background: transparent url(../images/common/i_close_w.svg) no-repeat center ; filter: invert(1); }




@media(max-width:1200px){
    #header .btn_search { display: none; }
    #header .btn_login { display: inline-block; }
    #header .btn_ham  { display: inline-block; margin-left: 20px; }
    #header .gnb { display: none; }
    #header  { background: #fff; color: #333; }
    #header h1 a { background: url(../images/common/logo_b.svg) no-repeat center;  }
    #header .util { filter: invert(0);  }
}
@media(max-width:1024px){
    #header h1 a { width: 120px; height: 30px;   }
}
@media(max-width:600px){
    #header h1 a {  width: 100px; height: 25px;  }
    #header .btn_ham { background: transparent url(../images/common/M_menu.svg) no-repeat center; width: 25px; height: 25px; }
}






 


/*mgnb*/
#header .mgnb_wrap {position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgb(0, 0, 0) url(../images/common/mgnb_bg.png) no-repeat center; color: #fff; padding: 50px 0; z-index: 10;   } 

#header .mgnb_wrap .m_search { margin: 0 auto; width: 70%; padding-bottom: 30px;  }
.mgnb_wrap .m_search .m_input_box {  width: 100%; display: flex; justify-content: space-between; background: #fff; border-radius: 500px; align-items: center; }

#header .mgnb_wrap .m_search .m_input_box input[type="text"] { width: calc(100% - 70px); padding: 20px 0px 20px 5%;  font-size: 1.8rem; outline: none; border-radius: 500px;  }

#header .mgnb_wrap .m_search .m_input_box input[type="submit"] {   font-size: 0; background: transparent url(../images/common/search.svg) no-repeat center / 30px ; width: 60px; height: 50px;cursor: pointer; padding: 0 5% 0 0; }



#header .mgnb_wrap .mgnb { text-align: left; border-top: 3px solid #fff; width: 80%; margin: 0 auto;  }
#header .mgnb_wrap .mgnb>li { padding: 15px 0 15px 5px; border-bottom: 1px solid #fff; }
#header .mgnb_wrap .mgnb>li>a { display: block; font-size: 2rem; font-weight: 600; }

#header .mgnb_wrap .mgnb>li .mdepth2 { display: flex; }
#header .mgnb_wrap .mgnb>li .mdepth2 li  { padding: 10px 0 0px 10px; width: 100px; color: #999; }

#header .mgnb_wrap .mgnb_close { background: transparent url(../images/common/i_close_w.svg) no-repeat center; width: 30px; height: 30px; font-size: 0; position: absolute; right: 20px; top: 20px; cursor: pointer; }




/*#header .search*/
#header .search { position: absolute; left: 0; top: 95px; width: 100%; backdrop-filter: blur(5px); height: 100px; display: flex; flex-direction: column; justify-content: center;  }
#header .search .search_box { position: relative; width: 50%; margin: 0 auto; }

#header .search .search_box input[type="text"] { width: 100%; padding: 20px 5%; border-radius: 500px; background: rgba(255, 255, 255, 0.6); font-size: 2rem; outline: none;   }
#header .search .search_box input::placeholder { color: #333;}

#header .search .search_box input[type="submit"] { position: absolute; right: 5%; top: 50%; transform: translateY(-50%); background: transparent url(../images/common/search.svg) no-repeat center; font-size: 0; width: 30px; height: 30px; cursor: pointer; }








/*footer*/
#footer { background: #000; color: #fff; padding: 80px 0;  }
#footer .footer_logo { width: 130px; height: 32px; margin-bottom: 30px; }

#footer .footer_top { display: grid; grid-template-columns: auto auto; justify-content: space-between;  margin: 20px 0;  }
#footer .footer_sns { filter: invert(1); }
#footer .footer_sns a img { width: 50px; height: 50px; padding-left: 20px; }

#footer .footer_bottom { display: grid; grid-template-columns: auto auto; justify-content: space-between;  margin-bottom: 30px; font-size: 1.4rem; }
#footer .footer_bottom .footer_link br { display: none; }

#footer .copy {  color: #999; font-size: 1.4rem; }

#footer .footer_bottom .footer_link a { position: relative; padding-right: 10px; }
#footer .footer_bottom .footer_link a::before { content: ""; display: block; position: absolute; right: 2px; bottom: 2px; height: 12px; width: 2px; background: #fff; }
#footer .footer_bottom .footer_link a:last-child:before { display: none; }


@media(max-width:1024px){
    #footer {  padding: 50px 0;  }
    #footer .footer_top {  grid-template-columns: auto ;  margin: 10px 0;  }
    #footer .footer_sns a img:first-child { padding-left: 0px; padding-right: 20px; }
    #footer .footer_bottom {  grid-template-columns: auto ;  margin-bottom: 20px;  }
    #footer .address { margin-bottom: 10px;  }
    #footer .footer_logo {  margin-bottom: 20px; }

}
@media(max-width:400px){
    #footer .footer_bottom .footer_link br { display: block; }
     #footer .footer_logo {  margin-bottom: 15px; }
}


/* login */

/* .login_wrap { position: fixed; left: 0;top: 0; width: 100%; height: 100%; } */
.login_page { width: 100%; height: 100%; display: flex; }
.login_page .login_left { width: 50%; height: 100vh; }
.login_page .login_left img { width: 100%; height: 100%; object-fit: cover; }
.login_page .login_right { width: 50%; padding:  100px; background: #000; color: #fff; height: 100vh; }
.login_page .login_right h2 { width: 200px; height: 100px; font-size: 0; background: url(../images/common/logo_k_w.svg) no-repeat center / 200px ; margin: 0 auto; }

.login_page .login_right input[type="text"] { display: block; width: 60%; margin: 0 auto; margin-bottom: 5px; outline: none; padding: 10px 20px; border-radius: 5px; }

.login_page .login_right input[type="checkbox"] { display: none; }
.login_page .login_right input[type="checkbox"]+label { transition: all 0.5s; background: url(../images/common/checkbox.png) no-repeat 0 center  ; cursor: pointer; display: inline-block; margin: 5px 20% 7px; padding: 5px 0 5px 40px;; }
.login_page .login_right input[type="checkbox"]:checked+label { background: url(../images/common/checkbox_checked.png) no-repeat 0 center ;  }


.login_page .login_right input[type="submit"] { display: block; width: 60%; margin: 0 auto; margin-bottom: 5px; outline: none; padding: 10px 20px; border-radius: 5px; font-size: 2rem; font-weight: 600; cursor: pointer; background: #666; color: #fff; border: #000 1px solid; }

.login_page .login_right .login_link01 { width: 60%; margin: 20px auto 0; text-align: center;  color: #ccc; border-bottom: 1px solid #999; padding-bottom: 30px; }
.login_page .login_right .login_link01 a { padding-right: 10px; position: relative; word-break: keep-all; }
.login_page .login_right .login_link01 a:last-child { padding-right: 0px; }
.login_page .login_right .login_link01 a::before { content: ""; display: block; background: #ccc; height: 13px; width: 2px; position: absolute; right: 2px; bottom: 3px; }
.login_page .login_right .login_link01 a:last-child::before { display: none; }


.login_page .login_right .login_link02 { text-align: center; padding: 30px 0; }
.login_page .login_right .login_link02 p { font-size: 1.8rem; margin-bottom: 40px; }

.login_page .login_right .login_link02 a { display: inline-block; width: 50px; height: 50px; margin: 0 15px; }
.login_page .login_right .login_link02 a img { width: 100%; height: 100%; }

@media(max-width:1330px){
    .login_page .login_left { width: 45%; }
    .login_page .login_right { width: 55%; padding:  100px 25px; }
}

@media(max-width:950px){
    .login_page .login_left { display: none;}
    .login_page .login_right { width: 100%; padding:  100px; }
}

@media(max-width:700px){
    .login_page .login_left { display: none;}
    .login_page .login_right { width: 100%; padding:  100px 30px; }
}

@media(max-width:530px){
    .login_page .login_right h2 { width: 150px; height: 80px;  background: url(../images/common/logo_k_w.svg) no-repeat center / 150px ; margin: 0 auto; }
    .login_page .login_right input[type="text"] {  width: 80%; margin: 0 auto; margin-bottom: 5px;  }
    .login_page .login_right input[type="checkbox"]+label {  margin: 5px 10% 7px; background: url(../images/common/checkbox.png) no-repeat 0 center / 18px ; padding: 5px 0 5px 30px; }
    .login_page .login_right input[type="checkbox"]:checked+label { background: url(../images/common/checkbox_checked.png) no-repeat 0 center  / 18px  ;  }
    .login_page .login_right input[type="submit"] {  width: 80%;  font-size: 1.8rem; font-weight: 500; }
    .login_page .login_right .login_link01 { width: 80%; margin: 15px auto 0;  padding-bottom: 20px; font-size: 1.4rem; }
    .login_page .login_right .login_link02 { padding: 20px 0; }
    .login_page .login_right .login_link02 p { font-size: 1.6rem; margin-bottom: 20px; }
    .login_page .login_right .login_link02 a { width: 40px; height: 40px; margin: 0 6px; }
}

@media(max-width:370px){
    .login_page .login_right input[type="text"] {  width: 90%; padding: 8px 10px;  }
    .login_page .login_right input[type="checkbox"]+label { margin: 5px 5% 7px; font-size: 1.4rem; }
    .login_page .login_right input[type="submit"] {  width: 90%;  font-size: 1.6rem; }
    .login_page .login_right .login_link01 { width: 90%;  font-size: 1.4rem; }
}






























































